.dashboard {
  position: relative;
  background-color: #fff;
  .card-dashboard {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .card-content {
    padding: 16px;
  }
  .title-page {
    margin-top: 24px;
    margin-bottom: 8px;
    @media (max-width: 480px) {
      display: none;
    }
  }
  .bg-card-info {
    backdrop-filter: blur(11px) saturate(180%);
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.18);
  }
  .donut-company {
    width: 230px;
    max-width: 300px;
    @media (max-width: 480px) {
      border-color: #fbcb8d !important;
    }
  }
  .border-solid {
    border-right: 2px dashed green;
    @media (max-width: 480px) {
      border-right: 0px;
    }
  }
  .number-contract {
    font-size: 16px;
    @media (max-width: 480px) {
      font-size: 14px;
      margin-left: 8px;
      margin-right: 8px;
      padding-top: 0px !important;
    }
  }
  .select-filter {
    @media (max-width: 480px) {
      margin-right: 8px !important;
      margin-left: 0px !important;
      padding-left: 0px !important;
    }
  }

  .dash-line {
    @media (max-width: 480px) {
      width: 100%;
      height: 0px;
      border-bottom: 2px dashed green;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  .card-dashboard {
    position: relative;

    .view-count {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 16px;
      font-weight: 600;
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
  }
  .full-height-content {
    min-height: 100vh;
  }
  th:first-child,
  td:first-child {
    position: sticky;
    left: 0px;
  }
  thead {
    position: sticky;
    top: 0;
    left: 0px;
    z-index: 100;
  }
  .table-responsive {
    height: 500px;
    // &.isSticky {
    //   position: fixed;
    //   top: 200px;
    // }
  }
}
