.dashboard {
  margin-top: 32px;
  .title {
    font-size: $headline-2;
    line-height: $headline-2;
    margin-top: 24px;
  }
  .card-ptm {
    height: 200px;
    min-height: 200px;
  }
  .iframe-power-bi {
  }
}
